.container {
  width: 100%;
  height: 23rem;

  overflow: hidden;
}

.imgCarrossel {
  width: 100%;
  object-fit: cover;

  /* color: #000000b0;
  background-color: #616161d8;
  color: #ff1616a9;
  color: #ff161693;
  color: #cc202093;
  color: #a71919; */
}
